@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Playfair+Display:ital@1&family=Roboto:wght@300;400&display=swap');
//fonts
$font-family-serif: 'Barlow', sans-serif;

$font-title: 'Playfair Display', serif;
$font-author: 'Roboto', sans-serif;

//colors
$dark-blue: #091f43;
$red: #d1515a;
$grey: #d4d4d4;
$darck-grey: #a7a6a6;
$white: #ffff;

$blue-hover: #5a80bd;

